@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #cffafe;
  padding: 40px 50px;
}

main {
  padding: 0 1vw;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.underline-onhover::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: black;
  transition: .3s;
}

.underline-default::after, .underline-onhover:hover::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  transition: .3s;
}

#header-logo {
  height: auto;
}